@import 'tailwindcss';

@theme {
  --font-mono: var(--font-quadrant-mono), ui-monospace, SFMono-Regular, Menlo, monospace;
  --text-base: 10px;
  --text-base--line-height: 1.4;
}

html {
  font-size: 10px;
}

body:has(.is-not-found) header,
body:has(.is-not-found) header a {
  color: #ffffff;
}

